body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */
.redrow3{
  display: flex;
  flex: 1;
  flex-direction: row;
}
.row3{
  width: 80px;
  background-color: red;
}
.bluerow3{
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}
.brow3{
  width: 80px;
  background-color: blue;
}

/* ROW4 */
.rrow4{
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  background-color: red;
}
.brow4{
  width: 80px;
  background-color: blue;
}

/* ROW5 */
.wrapper5 {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.redrow5{
  display: flex;
  width: 40px;
  height: 40px;
  background-color: red;
}
/* ROW6 */
.rrow6{
  display: flex;
  flex: 1;
  background-color: red;
  justify-content: center;
  align-items: center;
}
.brow6{
  display: flex;
  height: 60px;
  width: 80px;
  background-color: blue;
}
/* ROW7 */
.rrow7{
  display: flex;
  flex-direction: row;
  background-color: red;
  width: 80px;
}
.brow7{
  display: flex;
  flex: 1;
  background-color: blue;
  justify-content: center;
  align-items: center;
}
.grow7{
  display: flex;
  background-color: green;
  flex: 1;
  /* width: 20px; */
  height: 20px;
}
/* ROW8 */
.wrapper8{
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content:space-between;
  
}
.yrow8{
  display: flex;
  height: 60px;
  width: 40px;
  background-color: yellow;
  

}
.yrow9{
  display: flex;
  flex: 1;
  background-color: yellow;
  justify-content: space-between;
}
.grow9{
  width: 30px;
  height: 60px;
  background-color: green;
}